In [1]:
# 조건문
if False:
    print("실행문장 실행")
print("if문 밖에 있는 실행문장")

if문 밖에 있는 실행문장

In [3]:
if 1:
    print("This is True")

This is True

In [5]:
if -1:
    print("This is True")

This is True

In [7]:
if 0:
    print("This is True")

In [9]:
if "":
    print("This is True")

In [11]:
if "period!":
    print("This is True")

This is True

In [23]:
money = 9000
if money >= 10000:
    print("택시를 탄다.")
else:
    print("버스를 탄다.")

버스를 탄다.

In [35]:
num = int(input("정수 입력>>"))
if num%3==0 and num%5==0:
    print("3과 5의 배수입니다.")
else:
    print("3과 5의 배수가 아닙니다.")

정수 입력>> 5

3과 5의 배수가 아닙니다.

In [53]:
num = input("주민등록번호 뒷자리 입력>>")
print(num)
if num[0] == "1" or num[0] == "3":
    print("당신은 남자입니다.")
else:
    print("당신은 여자입니다.")

주민등록번호 뒷자리 입력>> 123354

123354
당신은 남자입니다.

In [63]:
name = input("이름 입력>>")
age = int(input("나이 입력>>"))
card = input("카드 소지 여부(소지, 미소지)>>")
fee_adult = 35000
fee_minor = fee_adult*0.5

if age >= 19 and card == "미소지":
    fee = fee_adult
elif age < 19 and card == "미소지":
    fee = fee_minor
elif age >= 19 and card == "소지":
    fee = fee_adult*0.7
elif age < 19 and card == "소지":
    fee = fee_minor*0.9
    
print(f'{name}님은 입장료 {int(fee)}원에 예약되셨습니다.')

이름 입력>> 강만
나이 입력>> 34
카드 소지 여부(소지, 미소지)>> 미소지

강만님은 입장료 35000원에 예약되셨습니다.

In [9]:
countOfMask = int(input("마스크 개수 입력>>"))
eight = countOfMask//8
five = (countOfMask%8)//5+1

print("8개들이 포장지 개수 : ", eight)
print("5개들이 포장지 개수 : ", five)

마스크 개수 입력>> 4

8개들이 포장지 개수 :  0
5개들이 포장지 개수 :  1

In [13]:
num1 = int(input("첫 번째 정수 입력>>"))
num2 = int(input("두 번째 정수 입력>>"))

if num1 > num2:
    print("첫 번째 정수가 더 큽니다.")
elif num1 < num2:
    print("두 번째 정수가 더 큽니다.")
elif num1 == num2:
    print("두 수가 똑같습니다.")

첫 번째 정수 입력>> 5
두 번째 정수 입력>> 3

첫 번째 정수가 더 큽니다.

In [19]:
score = int(input("점수 입력>>"))

if 90 <= score:
    gpa = "A"
elif 80 <= score:
    gpa = "B"
elif 70 <= score:
    gpa = "C"
elif 60 <= score:
    gpa = "D"
else:
    gpa = "F"
print(f"{score}점은 {gpa}학점입니다.")

점수 입력>> 35

35점은 F학점입니다.

In [25]:
x = int(input("x값을 입력하세요: "))
y = int(input("y값을 입력하세요: "))

if x > 0 and y > 0:
    quadrant = 1
elif x < 0 and y > 0:
    quadrant = 2
elif x < 0 and y < 0:
    quadrant = 3
else:
    quadrant = 4
print(f"좌표 ({x},{y})는 {quadrant}사분면입니다.")

x값을 입력하세요:  12
y값을 입력하세요:  5

좌표 (12,5)는 1사분면입니다.

In [41]:
age = int(input("나이 입력>>"))
fee = 1500

if age < 5:
    fee *= 0.5
elif age < 20:
    fee *= 0.75
elif age >= 65:
    fee *= 0.25

print(f"요금은 {int(fee)}원입니다.")

나이 입력>> 35

요금은 1500원입니다.

In [45]:
list = [1,2,3,['a','b','c']]

temp = list[3]
print(temp)

print(temp[1])

['a', 'b', 'c']
b

In [73]:
list[:2]

['apple', 'grape']

In [75]:
list.append(5)
list

['apple', 'grape', ['watermelon', 'melon'], 'peach', 'strawberry', 'orange', 5]

In [69]:
list2 = ['apple','grape',['watermelon','melon'],'peach','strawberry','orange']
apple = list2[0]
watermelon=list2[2][0]
orange = list2[-1]
choice_list = []
choice_list.append(apple)
choice_list.append(watermelon)
choice_list.append(orange)
choice_list

['apple', 'watermelon', 'orange']

In [61]:
# insert(인덱스, 값)
music_list = [['Water','Tyla'],
              ['Gnarly','Katseye'],
              ['Anxiety','Doechi']]
music_list.insert(1,['Famous','Allday Project'])
music_list

[['Water', 'Tyla'],
 ['Famous', 'Allday Project'],
 ['Gnarly', 'Katseye'],
 ['Anxiety', 'Doechi']]

In [63]:
index_value = int(input("인덱스 입력>>"))
song = input("노래 제목>>")
singer = input("가수 입력>>")

music_list.insert(index_value,[song, singer])

인덱스 입력>> 3
노래 제목>> Von Dutch
가수 입력>> CharlieXCX

In [65]:
music_list

[['Water', 'Tyla'],
 ['Famous', 'Allday Project'],
 ['Gnarly', 'Katseye'],
 ['Von Dutch', 'CharlieXCX'],
 ['Anxiety', 'Doechi']]

In [71]:
list

['apple', 'grape', ['watermelon', 'melon'], 'peach', 'strawberry', 'orange']

In [81]:
list8 = [9,77,13,52,100,2]
list8.sort() # 오름차순으로 정렬
list8

[2, 9, 13, 52, 77, 100]

In [83]:
list8.reverse() # 내림차순 정렬은 오름차순(sort)을 한 다음에 뒤집기(reverse)
list8

[100, 77, 52, 13, 9, 2]

In [85]:
list8.sort(reverse=True) # 내림차순 정렬
list8

[100, 77, 52, 13, 9, 2]

In [87]:
len(list8)

6

In [89]:
str1 = "We were on a break!!!"
'break' in str1

True

In [91]:
'OMG' not in str1

True

In [93]:
'Rachel' in str1

False

In [97]:
s = 'Hi my name is Clover:)'
search = input("검색할 문자 입력>>")
cnt = s.count(search)
if search in s:
    print(f'{search}는 {cnt}번 들어있네요.')
else:
    print(f'{search}는 들어있지 않네요.')

검색할 문자 입력>> t

t는 들어있지 않네요.